ComplexDomainOnsetDetection: ComplexDomainOnsetDetection blockSize=1024 stepSize=512
Energy: Energy blockSize=1024 stepSize=512
LSF: LSF stepSize=512 LSFNbCoeffs=10 LSFDisplacement=1
LSF_d1: LSF stepSize=512 LSFNbCoeffs=10 LSFDisplacement=1 > Derivate DOrder=1
LSF_d2: LSF stepSize=512 LSFNbCoeffs=10 LSFDisplacement=1 > Derivate DOrder=2
MelSpectrum: MelSpectrum blockSize=1024 stepSize=512
SpectralCrestFactorPerBand: SpectralCrestFactorPerBand blockSize=1024 stepSize=512
SpectralDecrease: SpectralDecrease blockSize=1024 stepSize=512
SpectralFlatnessPerBand: SpectralFlatnessPerBand blockSize=1024 stepSize=512
SpectralFlux: SpectralFlux blockSize=1024  stepSize=512
SpectralSlope: SpectralSlope blockSize=1024  stepSize=512
SpectralRolloff: SpectralRolloff blockSize=1024  stepSize=512
